/.idea/
/.gradle/
/build/
/buildSrc/.gradle
/buildSrc/build
**/out/
*.iml
.gradletasknamecache
.classpath
.settings/
bin/
.project
build/
mps-prj/solutions/my.build/build.xml
.gradle/
test/generate-build-solution/mps-prj/solutions/my.build/build.xml
.DS_Store
workspace.xml
**/*_gen*/
.gradle
